body {
background-color: #FF530D;
}

.container {
	width: 80%;
	margin: 0 auto;
}

#is {
	color: black;
}


header {
	height: 100px;
	width: auto;
	padding: 20px;
	border: bottom;
	border-color: white;
}

h1 {
	color: white;
	font-weight: 700;
	font-size: 10vw;
}

#Oliver {
	font-family: 'Droid serif', sans-serif;
	
	float: left;
}

