





/*.temp {
	text-align: center;
	width: 600px;
	margin: 0 auto;
	line-height: 100px;

}

#howhot {
 background-color:#FFF;
 min-height:40px;
 font-size: 24px;

}

.temp2 {
	text-align: center;
	width: 600px;
	margin: 0 auto;
	line-height: 20px;
}*/