/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES

Font: Open Sans (Google Font API)
Weight: Light (300), Semi-bold (600), Extra-bold (800)
/*******************************************/

body {
  background-color: #f0efef;
  color: #000;
  font-size: 55px;
  /*line-height: 1.4; */
  font-family: 'Open Sans', sans-serif;

}

.navbar {
  float: right;
  font-size: 24px;
  
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: 0 auto;
  padding: 60px;
}

.main_col {
  width: 700px;
  height: auto;

}

header {
  background-color: #033048;
  line-height: 100px;
  width: 100%
  

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo {
  font-weight: bolder;
  font-size: 32px;
}


